.About {
    padding: 20px;
}

.About__header {
    color: #0C0C0E;

    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.About__container-header {
    text-align: center;
}

.About__line {
    width: 50px;
    height: 1px;

    background: #0C0C0E;
}

.About__subtitle {
    color: #000;

    margin-top: 20px;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
}

.About__carousel {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.About__image {
    width: 450px;
    height: 560px;
}

.About__carousel-panel {
    margin-top: 40px;

    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}